@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald:700,300);
/* ==========================================================================
   Less StyleSheets
   ========================================================================== */
/************
	Fonts
*************/
h1 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 38px;
  margin: 10px 0 25px 0;
  color: #333333;
}
h2 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 30px;
  margin: 10px 0 25px 0;
  color: #333333;
}
h3 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0 25px 0;
  color: #333333;
}
h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0 25px 0;
  color: #333333;
}
h5 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0 25px 0;
  color: #333333;
}
h6 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0 25px 0;
  color: #333333;
}
p {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  line-height: 160%;
  font-size: 19px;
  color: #333333;
  margin-bottom: 15px !important;
}
a {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 125px !important;
  padding: 0;
  box-sizing: border-box;
}
/***************
	HEADER
****************/
.navbar-inverse {
  background-color: #333333 !important;
}
.navbar-inverse .icon {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  padding: 8px 25px;
}
.navbar-inverse .navbar-brand i {
  font-size: 40px;
  color: #ffffff;
}
.navbar-inverse .navbar-brand i:hover {
  color: #808080;
  transition: 0.4s;
}
.navbar-inverse .navbar-nav li a {
  transition: 0.4s;
}
.navbar-inverse .navbar-nav .open a {
  background-color: #333333 !important;
}
.navbar-inverse .navbar-nav .open a:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-nav .open a:hover {
  background-color: #333333;
}
.navbar-inverse .navbar-right {
  margin-top: 25px;
  padding-right: 25px;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-right .dropdown .dropdown-menu .divider {
  background-color: #979797 !important;
}
.navbar-inverse .navbar-right .dropdown .dropdown-menu li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 35px;
}
.navbar-inverse .navbar-right .dropdown .dropdown-menu li a:hover {
  background-color: #000000;
  color: #e6e6e6;
  transition: 0.4s;
}
/**************
	FOOTER
**************/
footer {
  overflow: hidden;
  width: 100%;
}
footer .footer-info {
  background-color: #666666;
  color: #ffffff;
  padding-top: 25px;
}
footer .footer-info h4 {
  text-transform: uppercase;
  font-weight: 700;
}
footer .footer-info .site-map {
  padding-left: 75px;
}
footer .footer-info .site-map ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-info .site-map ul.first-col {
  float: left;
  padding-right: 75px;
}
footer .footer-info .site-map ul.second-col {
  float: right;
}
footer .footer-info .site-map ul li {
  padding: 2px 0;
}
footer .footer-info .site-map ul li a {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
footer .footer-info .site-map ul li a:hover {
  text-decoration: none;
  color: #979797;
  transition: 0.4s;
}
footer .footer-info .newsletter .newsletter-blurb {
  color: #ffffff;
  font-size: 16px;
}
footer .footer-info .social {
  padding-left: 10%;
}
footer .footer-info .social a {
  color: #979797;
  font-size: 40px;
  cursor: pointer;
}
footer .footer-info .social a:hover {
  color: #ffffff;
  transition: 0.4s;
}
footer .copyright {
  background-color: #333333;
  text-align: center;
  padding: 5px 0;
  margin-top: 25px;
}
footer .copyright p {
  margin-bottom: 0 !important;
  color: #ffffff;
  font-size: 14px;
}
/**************************
		Page Styles
**************************/
.banner {
  background-image: url('../img/subpage-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  margin-top: -50px;
}
.wrapper {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 100px;
}
.wrapper-wide {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 100px;
}
.page-title {
  text-align: center;
  color: #979797;
  font-size: 22px;
  margin: 50px 0 65px 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
}
.page-title:before {
  content: " ";
  padding-right: 75px;
  border-bottom: 1px solid #979797;
  position: relative;
  bottom: 12px;
  right: 15px;
}
.page-title:after {
  content: " ";
  padding-left: 75px;
  border-bottom: 1px solid #979797;
  position: relative;
  bottom: 12px;
  left: 15px;
}
.sub-heading {
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 16px;
}
.container-fluid {
  padding: 0 !important;
}
/*********************************
	Bootstrap Button Overides
*********************************/
.btn {
  padding: 6px 30px !important;
}
.btn:hover {
  padding: 6px 30px !important;
}
.btn-secondary {
  text-transform: uppercase;
  border-color: #666666 !important;
  color: #666666 !important;
  font-weigth: 300;
}
.btn-secondary:hover {
  background-color: #666666 !important;
  color: #ffffff !important;
}
.btn-secondary:active {
  background-color: #666666 !important;
  color: #ffffff !important;
}
.btn-custom {
  text-transform: uppercase;
  background-color: #333333;
  color: #ffffff;
  font-weight: 300;
}
.btn-custom:hover {
  background-color: #4d4d4d;
  color: #ffffff !important;
}
.btn-custom:active {
  color: #ffffff !important;
}
/*****************
	Product
*****************/
.products .product .product-link:hover {
  text-decoration: none;
}
.products .product .product-link img {
  display: block;
  margin: 0 auto;
}
.products .product .product-link .product-title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}
.products .product .product-link .product-title:before {
  content: " ";
  padding-right: 20px;
  border-bottom: 3px solid #333333;
  position: relative;
  bottom: 12px;
  right: 15px;
}
.products .product .product-link .product-title:after {
  content: " ";
  padding-left: 20px;
  border-bottom: 3px solid #333333;
  position: relative;
  bottom: 12px;
  left: 15px;
}
.products .product .product-link .product-info {
  font-size: 14px;
  text-align: center;
}
/***************
	About Us
***************/
.action-buttons {
  position: relative;
  right: -70%;
  margin: 5% 50px 0 0;
}
/****************
	Contact
****************/
.map {
  height: 200px;
  width: 100%;
  margin-top: -50px;
}
.contact-info {
  border-right: 1px solid #979797;
}
.contact-info p {
  margin-bottom: 35px !important;
}
.contact-info p span {
  padding-left: 155px;
}
.contact-info p:last-child {
  margin-bottom: 0 !important;
}
.contact-info p:nth-child(5) {
  margin-bottom: 10px !important;
}
.contact-info p.shop-times {
  padding-left: 155px;
  margin-bottom: 10px !important;
}
.contact-info p.shop-times:first-child {
  padding-left: 0 !important;
}
.contact-info i {
  padding: 0 50px 0 75px;
  font-size: 25px;
}
.contact-form {
  padding-left: 75px !important;
}
.contact-form .form-control {
  margin-bottom: 15px !important;
  border-radius: 4px !important;
}
.contact-form .form-control.textarea {
  resize: none;
  height: 150px;
}
.contact-form a {
  float: right;
  margin-top: 15px;
}
/***************************
	   Other Services
***************************/
.service {
  margin: 75px 0;
}
.service .sub-heading {
  text-align: left !important;
}
/****************************
		  Bikes
****************************/
@media (min-width: 768px) {
  .navbar-inverse {
    min-height: 80px !important;
  }
  .navbar-inverse {
    background-color: #333333 !important;
  }
  .navbar-inverse .icon {
    color: #ffffff;
  }
  .navbar-inverse .navbar-brand {
    padding: 20px 25px;
  }
  .navbar-inverse .navbar-brand i {
    font-size: 40px;
    color: #ffffff;
  }
  .navbar-inverse .navbar-brand i:hover {
    color: #e6e6e6;
  }
  .navbar-inverse .navbar-nav .open a {
    background-color: #333333 !important;
  }
  .navbar-inverse .navbar-nav .open a:focus {
    background-color: #333333;
  }
  .navbar-inverse .navbar-nav .open a:hover {
    background-color: #333333;
  }
  .navbar-inverse .navbar-right {
    margin-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
    padding-right: 25px;
  }
  .navbar-inverse .navbar-right .dropdown.open .dropdown-menu {
    display: block !important;
    position: absolute !important;
    left: -40px !important;
    background-color: #333 !important;
    margin-top: 40px !important;
    border-radius: 4px !important;
  }
  .navbar-inverse .navbar-right .dropdown.open .dropdown-menu li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 35px;
  }
  .navbar-inverse .navbar-right .dropdown.open .dropdown-menu li a:hover {
    background-color: #1a1a1a;
    color: #979797;
    transition: 0.4s;
  }
  .navbar-inverse .navbar-right .dropdown.open .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 15px 17.5px;
    border-color: transparent transparent #333333 transparent;
  }
  .navbar-inverse .navbar-right .dropdown:hover .dropdown-menu {
    display: block !important;
    position: absolute !important;
    left: -40px !important;
    background-color: #333 !important;
    margin-top: 40px !important;
    border-radius: 4px !important;
  }
  .navbar-inverse .navbar-right .dropdown:hover .dropdown-menu li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 35px;
  }
  .navbar-inverse .navbar-right .dropdown:hover .dropdown-menu li a:hover {
    background-color: #1a1a1a;
    color: #979797;
    transition: 0.4s;
  }
  .navbar-inverse .navbar-right .dropdown:hover .dropdown-menu:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 15px 17.5px;
    border-color: transparent transparent #333333 transparent;
  }
}
